
.paginations{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 30px 0;

}
.paginations-item{
 margin: 0 -4px;
}

.paginations-item--active .paginations-item__link{
    color: #FF993C;
    border-radius: 5px;
    border: 1px solid #FF993C;
   
}

.paginations-item__link{
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    color: #1E0D03;
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.paginations-item__icon--active{
    color: #FF993C;
}