.ticketeven{
    flex: 1;
    display: flex;
}

.ticketeven__left{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticketeven__left-title{
    font-size: 1rem;
    font-weight: 600;
}

.ticketeven__right{
    margin-top: 60px;
}
.ticketeven__right-ul{
    padding: 0;
    list-style: none;
}

.ticketeven__right-ul li{
    padding:6px 0px;;
}

.ticketeven__right-img{
    margin-right: 10px;
}

.ticketeven__left-img{
    width: 268px;
    height: 230px;
    margin-top: 20px;
}