.css-1pclhgl-MuiTable-root{
width: unset;
}

.tableContent{
    margin: 0 20px;
   
}

.css-1ygcj2i-MuiTableCell-root{
 font-weight: 800 !important;
 font-family: unset !important;
 background-color:  #F1F4F8 !important; 
}