.filtertickets__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}

.filtertickets__header{
 font-size: 1.3rem;
 font-weight: 800;
 color: #000;
 margin: 10px;
}

.filtertickets__center{
    display: flex;
}
.filtertickets__content{ 
    margin-left: 10px;
}
.filtertickets__list{
    padding: 0;
    list-style: none;
}

.filtertickets__item{
    padding: 3px 0;
    display: flex;
}
.span{
    margin-bottom: 28px;
}

.filtertickets__item-status{
    margin-bottom: 50px;
}

.filtertickets__item-left{
    font-weight: 600;
}
.filtertickets__item-input{
    margin-right: 5px;
    margin-bottom: 5px;
}

.filtertickets__since{
    margin: 18px 0;
}

.filtertickets__today{
    margin-top: 40px;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled,
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root  {
    margin-right: 10px;
}

.filtertickets__btn{
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    width: 110px;
    height: 35px;
    border-radius: 6px;
    color: #FF993C;
    border: 1px solid #FF993C;
    margin-left: 87px;
    margin-top: 20px;
    cursor: pointer;
}