.setting{
    flex: 4;
    background-color: #fff;
    border-radius: 24px;
    margin: 0px 20px 20px 0px;
}

.setting__list-item{
    background-color: #FF993C;
}

span.headerticket__list-content.setting__list-content {
    color: #fff;
}